body{
  margin:0;
  font-family:Arial;
  color:#fff;
  text-align:center;
  background:url('./assets/scan_bg.jpg') center/cover no-repeat;
}
.container{
  margin-top:20vh;
}
input{
  padding:15px;
  width:250px;
  margin-top:20px;
}
button{
  display:block;
  margin:20px auto;
  padding:15px 30px;
  background:gold;
  border:none;
  cursor:pointer;
}
