body{
  margin:0;
  font-family:Arial, sans-serif;
  color:#fff;
  text-align:center;
  background:url('./assets/scan_bg.jpg') center/cover no-repeat;
}
.container{
  margin-top:20vh;
}
h1{
  font-size:48px;
  margin-bottom:10px;
}
.sub{
  font-size:14px;
  letter-spacing:2px;
  margin-bottom:30px;
}
input{
  padding:15px;
  width:260px;
  background:rgba(0,0,0,0.6);
  border:1px solid gold;
  color:#fff;
}
button{
  display:block;
  margin:20px auto;
  padding:15px 30px;
  background:gold;
  border:none;
  font-weight:bold;
  cursor:pointer;
}
